{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Utilizando HBS</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, temporibus sit tempore debitis perspiciatis corrupti at dicta molestiae. Placeat ullam corporis at nobis, labore optio magnam sequi ipsum quia quis.</p>
    </div>
    <div class="col-4">
        <img src="assets/img/meanjs-logo.png" class="img-thumbnail" alt="">
    </div>
</div>

{{> footer}}